// //////////////////////////////////////////////
//  variables
// //////////////////////////////////////////////
/**
* Bootstrap dimensions
**/
// Small devices (landscape phones, 576px and up)
$view-sm: 576px;
$view-md: 768px;
$view-lg: 992px;
$view-xl: 1200px;

/** jetset **/
$js-background: #D90A00;
$js-gray: #797979;
$js-white: #fff;
$js-orange: #ff5431;

/*  
  General colors:
*/
$RED: #f05050;
$MAIN_RED: #f56954;
$WHITE: #FFF;
$BLUE: #4697ce;
$MAIN_BLUE: #0073b7;
$LIGHT_BLUE: #3c8dbc;
$GREEN: #27C24C;
$MAIN_GREEN: #00a65a;
$YELLOW: #fad733;
$MAIN_YELLOW: #f39c12;
$AQUA: #00c0ef;
$PURPLE: #7266ba;
$TEAL: #39cccc;
$PURPLE: #932ab6;
$MAIN_BLACK: #222222;
$MAIN_MAROON: #85144b;
$DARK_BLACK: #000000;

/*
  Styling vars
*/
$BODY_BACKGROUND_COLOR: #F1F2F3;
$FONT_FAMILLY: "Lato", sans-serif;

$NAV_BAR_A_LOGO_FONT_FAMILY: "Kaushan Script", cursive;

$LINK_COLOR: $LIGHT_BLUE;
$LINK_SELECTED_COLOR: #72afd2;

$LEFT_SIDE_BAR_WIDTH: 220px;
$HEADER_HEIGHT: 50px;

$CONTENT_BACKGROUND_COLOR: #f0f3f4;
$CONTENT_PADDING: 20px 15px;

$PAGE_HEADER_FONT_SIZE: 22px;
$PAGE_HEADER_SMALL_COLOR: #666;

$ALERT_DANGER_BACKGROUND_COLOR: #fad5d5;
$ALERT_SUCCESS_BACKGROUND_COLOR: #cffabd;
$ALERT_WARNING_BACKGROUND_COLOR: #fcf4c9;

$BADGE_SUCCESS_BACKGROUND_COLOR: $GREEN;
$BADGE_SUCCESS_COLOR: #DFF5E4;
$BADGE_WARNING_BACKGROUND_COLOR: $YELLOW;
$BADGE_WARNING_COLOR: #FDF8E5;
$BADGE_INFO_BACKGROUND_COLOR: #23B7E5;
$BADGE_INFO_COLOR: #E3F6FC;
$BADGE_DANGER_BACKGROUND_COLOR: $RED;
$BADGE_DANGER_COLOR: #FAE6E6;
$BADGE_PRIMARY_BACKGROUND_COLOR: $BLUE;
$BADGE_INVERSE_BACKGROUND_COLOR: #4f5259;
$BADGE_INVERSE_COLOR: #DFE2F0;

$LABEL_PRIMARY_BACKGROUND_COLOR: $BLUE;
$LABEL_DEFAULT_BACKGROUND_COLOR: #a1a1a1;
$LABEL_SUCCESS_BACKGROUND_COLOR: #27C24C;
$LABEL_SUCCESS_COLOR: #DFF5E4;
$LABEL_INFO_BACKGROUND_COLOR: #23B7E5;
$LABEL_INFO_COLOR: #E3F6FC;
$LABEL_INVERSE_BACKGROUND_COLOR: #4f5259;
$LABEL_INVERSE_COLOR: #DFE2F0;
$LABEL_WARNING_BACKGROUND_COLOR: $YELLOW;
$LABEL_WARNING_COLOR: #FDF8E5;
$LABEL_DANGER_BACKGROUND_COLOR: $RED;
$LABEL_DANGER_COLOR: #FAE6E6;

$BG_COLOR_COLOR: #f9f9f9;
$BG_WHITE_BACKGROUND_COLOR: $WHITE;
$BG_GREY_BACKGROUND_COLOR: #eaeaec;
$BG_BLACK_BACKGROUND_COLOR: $MAIN_BLACK;
$BG_RED_BACKGROUND_COLOR: $RED;
$BG_YELLOW_BACKGROUND_COLOR: $YELLOW;
$BG_AQUA_BACKGROUND_COLOR: #4FC1E9;
$BG_BLUE_BACKGROUND_COLOR: $MAIN_BLUE;
$BG_LIGHT_BLUE_BACKGROUND_COLOR: $LIGHT_BLUE;
$BG_GREEN_BACKGROUND_COLOR: $GREEN;
$BG_NAVY_BACKGROUND_COLOR: #001f3f;
$BG_TEAL_BACKGROUND_COLOR: $TEAL;
$BG_OLIVE_BACKGROUND_COLOR: #3d9970;
$BG_LIME_BACKGROUND_COLOR: #01ff70;
$BG_ORANGE_BACKGROUND_COLOR: #ff851b;
$BG_FUSHSIA_BACKGROUND_COLOR: #f012be;
$BG_PURPLE_BACKGROUND_COLOR: $PURPLE;
$BG_MAROON_BACKGROUND_COLOR: $MAIN_MAROON;
$BG_VIOLET_BACKGROUND_COLOR: #7266ba;
$BG_TWITTER_BACKGROUND_COLOR: #00c7f7;
$BG_FACEBOOK_BACKGROUND_COLOR: #335397;
$BG_GOOGLE_PLUS_BACKGROUND_COLOR: #df4a32;

$DROPDOWN_MENU_RIGHHT_COLOR: #39435c;

$TEXT_AREA_BORDER_COLOR: #EEE;

$TEAMMATES_LINK_COLOR: #505050;
$TEAMMATES_LI_BODER_COLOR: #edf1f2;
$TEAMMATES_LI_BODER_WIDTH: 1px;
$TEAMMATES_LI_BODER_STYLE: solid;

$TEXT_PRIMARY_COLOR: $BLUE;
$TEXT_INFO_COLOR: #63b7e6;
$TEXT_SUCCESS_COLOR: #7dcc93;
$TEXT_WARNING_COLOR: #e8db4f;
$TEXT_RED_COLOR: $MAIN_RED;
$TEXT_YELLOW_COLOR: $MAIN_YELLOW;
$TEXT_AQUA_COLOR: $AQUA;
$TEXT_BLUE_COLOR: $MAIN_BLUE;
$TEXT_BLACK_COLOR: $MAIN_BLACK;
$TEXT_LIGHT_BLUE_COLOR: $LIGHT_BLUE;
$TEXT_GREEN_COLOR: $MAIN_GREEN;
$TEXT_NAVY_COLOR: #001f3f;
$TEXT_TEAL_COLOR: $TEAL;
$TEXT_OLIVE_COLOR: #3d9970;
$TEXT_LIME_COLOR: #01ff70;
$TEXT_ORANGE_COLOR: #ff851b;
$TEXT_FUCHSIA_COLOR: #f012be;
$TEXT_PURPLE_COLOR: $PURPLE;
$TEXT_MAROON_COLOR: $MAIN_MAROON;

$SLIDER_HANDLE_BORDER_COLOR: #86D4FC;

$TABLE_STRIPED_BACKGROUND_COLOR: #f3f4f5;

$TEAL_GRADIANT_SECONDARY_COLOR: #7adddd;
$LIGHT_BLUE_GRADIANT_SECONDARY_COLOR: #67a8ce;
$MAIN_BLUE_GRADIANT_SECONDARY_COLOR: #0089db;
$AQUA_GRADIANT_SECONDARY_COLOR: #14d1ff;
$MAIN_YELLOW_GRADIANT_SECONDARY_COLOR: #f7bc60;
$MAIN_PURPLE_GRADIANT_SECONDARY_COLOR: #b959d9;
$MAIN_GREEN_GRADIANT_SECONDARY_COLOR: #00ca6d;
$MAIN_RED_GRADIANT_SECONDARY_COLOR: #f89384;
$MAIN_BLACK_GRADIANT_SECONDARY_COLOR: #3c3c3c;
$MAIN_MAROON_GRADIANT_SECONDARY_COLOR: #85144b;
