.content-wrapper {
    background: #f3f5f7;
    margin-left: 0px;
    min-height: 100vh;
    padding: 1.5rem 1.7rem;
    transition: width 0.25s ease, margin 0.25s ease;

    @media screen and (min-width: $view-sm) {
        margin-left: 240px;
        width: 100%;
    }

    > .card {
        background-color: white;
        border-radius: 2px;

        .card-body {
            padding: 1.5rem 0.9375rem;
        }
    }
}

@media (max-width: 991px) {
    .content-wrapper {
        margin-left: 0;
        width: 100%;
    }
}

@media (min-width: $view-lg) {
    .icon-only {
        .content-wrapper {
            width: calc(100% - 70px);

            @media screen and (min-width: $view-sm) {
                margin-left: 70px;
            }
        }
    }
}

.content-wrapper {
    // background: $content-bg;
    // margin-left: $sidebar-width-lg;
    min-height: 100vh;
    padding: 1.5rem 1.7rem;

    // transition: width $action-transition-duration $action-transition-timing-function, margin $action-transition-duration $action-transition-timing-function;
    // width: calc(100%);

    @media (max-width: 991px) {
        margin-left: 0;
        width: 100%;
    }

    &.full-page-wrapper {
        margin-left: 0;
        width: 100%;
    }
}

.container-scroller {
    overflow: hidden;
}
