/* INPUT */

.teamselector {
    label {
        font-weight: normal;
    }

    .checkboxke {
        input[type="checkbox"] {
            margin: 0px;
            margin-right: 10px;
        }
    }
}
